@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Oswald", sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
    --heading-color: #007bff;
    --heading-hover-color: #0ef;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* Header */
.header {
    background-color: #323946;
    color: var(--heading-color);
    padding: 1rem 0;
    text-align: center;
}

.header .logo h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* AWS Journey Section */
.aws-journey {
    padding: 1rem 0;
}

.heading {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--heading-color);
}

.home-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.home-img img {
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.content .section {
    margin-bottom: 3rem;
}

.content .section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #0ef;
}

.content .section p,
.content .section ul {
    font-size: 1.2rem;
    line-height: 1.5;
}

.content .section ul {
    list-style-type: none;
    padding-left: 0;
}

.content .section ul li {
    margin-bottom: 1rem;
}

.content .section ul li b {
    color: #0ef;
}

/* Button */
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #0ef;
    color: #323946;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #08c;
}

/* Footer */
.footer {
    background-color: #323946;
    padding: 2rem 0;
    text-align: center;
    color: #fff;
}

.footer-text p {
    margin: 0;
    font-size: 1rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: #0ef;
    border-radius: 0.8rem;
    transition: 0.5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem #0ef;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #323946;
}
